<div class='title-container'>
  <div class='main-title'>
    <h1>WHAT THE HELL SHOULD I NAME THIS?</h1>
  </div>
  <div class='sub-title'>
    <h2>(An angry programmer's stupid tool to find dumb names for all the shit)</h2>
  </div>
</div>
<div class='button-container'>
  <input class='input-box' placeholder="GIVE ME A VERB, DUMMY" onfocus="this.placeholder = ''" onblur="this.placeholder = 'GIVE ME A VERB, DUMMY'"></input>
</div>
