<div class='title-container'>
  <div class='main-title'>
    <h1>WHAT THE HELL SHOULD I NAME THIS?</h1>
  </div>
  <div class='sub-title'>
    <h2>(An angry programmer's stupid tool to find dumb names for all the shit)</h2>
  </div>
</div>
<div class='button-container'>
  <input class='input-box' placeholder="GIVE ME A VERB, DUMMY" onfocus="this.placeholder = ''" onblur="this.placeholder = 'GIVE ME A VERB, DUMMY'"></input>
</div>
<div class="instructions-container">
  <h4 class="instructions">PRESS ENTER FOR THE MAGIC</h4>
</div>

<div class="generated-name-container">
  <h5 class="generated-name"></h5>
</div>
<div class='footer'>
  <%= link_to "https://github.com/thomascarli/what-the-hell-should-I-name-this", :target => "_blank" do %>
    <i class="github fa fa-github"></i>
  <% end %>
  <h3>help me make this garbage useful.</h3>
</div>
